
.icon-download-outline:before { content: '\e805'; } /* '' */
.icon-download-3:before { content: '\e804'; } /* '' */
.icon-download-4:before { content: '\e806'; } /* '' */
.icon-download-cloud:before { content: '\e807'; } /* '' */
.icon-download:before { content: '\e800'; } /* '' */
.icon-download-1:before { content: '\e801'; } /* '' */
.icon-download-2:before { content: '\e803'; } /* '' */
.icon-download-alt:before { content: '\e802'; } /* '' */