
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-code:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e807'; } /* '' */
.icon-download:before { content: '\e806'; } /* '' */
.icon-doc:before { content: '\e805'; } /* '' */
.icon-github-1:before { content: '\e804'; } /* '' */